.user-info-bg {
  color: #12022f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 150px;
}
.profile-name {
  font-size: 20px;
}
.profile-role {
  color: #616e7c;
}
